# Ignore build output
**/bin/*
**/obj/*


# Ignore NuGet packages
*.nupkg
*.snupkg
**/packages/

# Ignore user-specific files
*.user
*.suo
*.sln.docstates

# Ignore Visual Studio files
.vs/
*.vscode/

# Ignore logs and temp files
*.log
*.tmp

# Ignore publish output
publish/
